body{
    margin: 0%;
    font-family: Lato,Roboto,Helvetica,Helvetica Neue,Arial,sans-serif;
}

/*Navbar*/
.navbar{
    width: 100%;
    background-color: #005dab;
    overflow: auto;
}

/*Botones Home, Global, Juegos*/
.navbar a {
    float: left;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/*Logo Taringa*/
.logo{
    width: 105px;
    height: 35px;
    float: left;
    padding: 6px;
    margin-right: 70px;
}

/*Input Busqueda*/
.search-container {
    float: left;
    padding: 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;

    margin-left: 50px;
  }

  .search-container button{
      padding:6px 10px 6px 7px;
      margin-left: -1px;
      background-color: white;
      outline:none;
      border: 0px solid;
      border-radius: 0px 3px 3px 0px;
  }

  .search-container input{
    width: 200px;
    padding:6px 10px 6px 7px;
    margin-right: -5px;
    border-radius: 3px 0px 0px 3px;
    border: 0px solid;
    outline:none;
  }

/*Input Busqueda*/
  .navRight{
      float: right;
  }

  .navRight button{
    color: white;
    background-color: #16C465;
    outline: none;
    border: 0px solid;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
  }

