body{
    margin: 0%;
    font-family: Lato,Roboto,Helvetica,Helvetica Neue,Arial,sans-serif;
    color: #575757;
    background-color: #f4f4f4;
}



/*Navbar*/
.navbar{
    width: 100%;
    background-color: #005dab;
    overflow: auto;
    box-shadow: 0px 1px 5px #9f9f9f;
}




/*Botones Home, Global, Juegos*/
.navbar a {
    float: left;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/*Logo Taringa*/
.logo{
    width: 105px;
    height: 35px;
    float: left;
    padding: 6px;
    margin-right: 70px;
}




/*Input Busqueda*/
.search-container {
    float: left;
    padding: 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;

    margin-left: 50px;
  }

  .search-container button{
      padding:6px 10px 6px 7px;
      margin-left: -1px;
      background-color: white;
      outline:none;
      border: 0px solid;
      border-radius: 0px 3px 3px 0px;
  }

  .search-container input{
    width: 200px;
    padding:6px 10px 6px 7px;
    margin-right: -5px;
    border-radius: 3px 0px 0px 3px;
    border: 0px solid;
    outline:none;
  }




/*Botones Registrarme, Iniciar Sesion*/
  .navRight{
      float: right;
  }

  .navRight button{
    color: white;
    background-color: #16C465;
    outline: none;
    border: 0px solid;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
  }




/* Principal */
.all{
  width: 100%;
  display: flex;        
  justify-content: center;
}

.main{
  
  width: 1070px;
  height: 1000px;
}

.izquierda{
width: 675px;

float: left;
}

.derecha{
width: 395px;
height: 1000px;
float: left;
}



/*Botones Destacados, Recientes, Crear Articulos*/
.buttons_category{
  float: left;
  width: 675px;
  margin: 10px 0px;
}

.bDestacados{
  float: left;
  background-color: #005dab;
  color: white;
  outline:none;
  border: 0px;
  padding: 12px;
  border-radius: 22px;
  font-size: 14px;
  margin: 10px;
}

.bRecientes{
  float: left;
  background-color: transparent;
  color: #575757;
  border: #575757 1px solid;
  padding: 12px;
  border-radius: 22px;
  font-size: 14px;
  margin: 10px;
}

.bCrear{
  float: right;
  background-color: #16C465;
  color: white;
  outline: none;
  border: 0px solid;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
  margin-right: 25px;
}


/* Tabla */
.articulo{
width: 675px;
height: 115px;
}

.tabla{
  
  width: 400px;
  height: 800px;
  float: left;
  width: 675px;
}
.aImagen{
  float: left;
}

.imgArticulo{
  width: 115px;
  height: 77px;
  border-radius: 5px;
  margin: 11px;
}

.aTitulo{
  float: left;
  margin-top: 10px;
  width: 520px;
}

.detalleArt{
  float: left;
  font-size: 11px;
  
}

h2{
  font-size: 17px;
  margin-bottom: 0px;
  margin-top: 0px;
}


/*Estadisticas de la publicacion*/

.estadisticas{
  clear: both;
  font-size: 12px;
  margin-top: 45px;
}

.fVerde{
  color: #16C465;
}

.iEstadisticas{
  margin-left: 20px;
  padding: 5px;
}

.iDenunciar{
  float: right;
  margin-right: 5px;
  padding: 5px;
}


/*Derecha Tops*/


.tops{
  width: 395px;
  height: 400px;
  background-color: white;
  margin-top: 21px;
  border-radius: 5px;
}